Lenguaje de Marcas/Tercer Trimestre/XML/5.2 Inventores/52.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="inventores">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="inventor" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                        <xs:attribute name="nombre" type="xs:string" />
                        <xs:attribute name="invento" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
















</xs:schema>