Lenguaje de Marcas/Tercer Trimestre/XML/5.2 Inventores/inventores2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="inventores" type="inventoresTipo"/>
    <xs:complexType name="inventoresTipo">
        <xs:sequence>
            <xs:element name="inventor" type="inventorTipo" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
                <xs:complexType name="inventorTipo">
                        <xs:attribute name="nombre" type="xs:string" />
                        <xs:attribute name="invento" type="xs:string"/>
                </xs:complexType>
</xs:schema>