Lenguaje de Marcas/Tercer Trimestre/XML/extensiones2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="miUniforme">
    <xs:complexType name="tipoUniforme">
      <xs:simpleContent>
        <xs:extension base="tallaCamiseta">
          <xs:attribute name="colorPantalón" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>